@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: #0a0a0a;
  color: #f3f3f3;
  transition: background 0.4s, color 0.4s;
}
